body {background-color: aliceblue; 
    font-family: serif; font-size: 1em;}
header {background-color: lightsteelblue;}
h1{color: navy;
    font-family: serif; 
    font-size: 2em;}
h2{color: darkslateblue; 
    font-family: serif; 
    font-size: 1.25em;}
nav > ul {line-height: 2em; 
    list-style-type: circle; 
    padding-left: 26px; 
    margin: 5px;}
section {background-color:lavender; width:40%; font-size: 1.25em;}
footer {background-color:lightsteelblue}